<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.poli.edu.co">
                        POLITÉCNICO GRANCOLOMBIANO
                    </a>
                </li>
                <li>
                    <a href="https://es-la.facebook.com/poligran/">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/Poligran">
                        Twitter
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
